.category {
  .add-note {
    margin-top: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;

    button {
      opacity: 0.35;
      border-radius: 5px;
      padding: 5px 15px;
      cursor: pointer;
      border: 1px solid var(--secondary-color);
      color: var(--font-color);
    }

    &:hover button {
      opacity: 1;
    }
  }
}

.category-card{
  background-color:var(--note-bg);
  min-height:150px;
  display:flex;
  flex-direction:column;
  justify-content: space-between;

  li{
    list-style:none;
  }
}

#dropdown-menu{
  right:20px;
}

.category-card-btn{
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
