.category {
  .add-note {
    margin-top: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;

    button {
      opacity: 0.35;
      border-radius: 5px;
      padding: 5px 15px;
      cursor: pointer;
      border: 1px solid var(--secondary-color);
      color: var(--font-color);
    }

    &:hover button {
      opacity: 1;
    }
  }
}