.note {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;

  input, input:focus-visible, textarea {
    border: none;
    outline: none;
    padding: 3px 10px;
    resize: none;
    background-color:rgba(250,250,250,1);

    &.title {
      font-weight: bold;
      font-size: 18px;
    }

    &.description {
      font-size: 14px;
      max-height: 120px;
      height: auto;
    }

    &.link {
      color: #212f56;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .remove {
    position: absolute;
    right: 4px;
    top: 13px;
    cursor: pointer;
    padding: 8px;

    span {
      visibility: hidden;
      border-radius: 5px;
      padding: 8px;
    }

    &:hover span {
      visibility: visible;
    }
  }
}