.note {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 8px 10px;

  input, input:focus-visible, textarea {
    border: none;
    outline: none;
    padding: 3px;
    resize: none;

    &.title {
      font-weight: bold;
      font-size: 18px;
    }

    &.description {
      font-size: 14px;
      max-height: 120px;
      height: auto;
    }

    &.link {
      color: #212f56;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}