//try different color schemes, TODO delete obsolete later
$dark-olive-green: rgba(96, 108, 56, 1);
$charleston-green: rgba(40, 54, 24, 1);
$cornsilk: rgba(254, 250, 224, 1);
$fawn: rgba(221, 161, 94, 1);
$liver-dogs: rgba(188, 108, 37, 1);

$midnight-green-eagle-green: rgba(0, 78, 100, 1);
$cerulean-crayola: rgba(0, 165, 207, 1);
$aquamarine: rgba(159, 255, 203, 1);
$persian-green: rgba(37, 161, 142, 1);
$light-green: rgba(122, 229, 130, 1);

$cultured: rgba(248, 249, 250, 1);
$cultured-2: rgba(233, 236, 239, 1);
$gainsboro: rgba(222, 226, 230, 1);
$light-gray: rgba(206, 212, 218, 1);
$cadet-blue-crayola: rgba(173, 181, 189, 1);
$slate-gray: rgba(108, 117, 125, 1);
$davys-grey: rgba(73, 80, 87, 1);
$gunmetal: rgba(52, 58, 64, 1);


* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: var(--font-color);
}

.sidebar {
  position: fixed;
  left: -250px;
  //left:0;
  top:0;
  width: 200px;
  height: 100%;
  border-right: 1px solid rgba(108, 117, 125, 0.1);
  background: var(--secondary-color);
  transition: all .5s ease;

  header {
    font-size: 22px;
    font-weight: 800;
    line-height: 100px;
    text-align: center;
    color: var(--sidebar-font-color);
    user-select: none;
  }

  h6 {
    letter-spacing:0.2em;
  }

  h6, ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 10px;
    padding-left: 40px;
    box-sizing: border-box;
    color: var(--sidebar-font-color);


    &.link {
      line-height: normal;
      padding: 15px 5px 15px 40px;
    }
  }

  ul a {
    font-size: 16px;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;

    svg{
      stroke: var(--sidebar-font-color);
    }

    i {
      margin-right: 16px;
    }
  }
}

.sidebar{
  ul li:hover a, ul li a.active {
    padding-left: 50px!important;
  }
}


ul li a.active {
  font-weight: bold;
}

ul li.empty a {
  opacity: 0.7;
}

#check {
  display: none;

  &:checked {
    ~ {
      .sidebar {
        left: 0;
        overflow-y: auto;
      }

      label {
        #btn {
          left: 250px;
          opacity: 0;
          pointer-events: none;
        }
        #cancel {
          left: 200px;
        }
      }

      section {
        margin-left: 250px;
      }
    }
  }
}

label {
  #btn {
    position: absolute;
    border: 1px solid rgba(108, 117, 125, 0.1);
    cursor: pointer;
    left: 0;
    bottom: calc(100vh/2.2);
    font-size: 35px;
    padding: 6px 12px;
    transition: all .5s;
    background-color:var(--secondary-color);
    color: var(--sidebar-font-color);
  }

  #cancel {
    background-color:var(--secondary-color);
    color: var(--sidebar-font-color);
    position: absolute;
    cursor: pointer;
    left: -195px;
    bottom: calc(100vh/2.2);
    font-size: 28px;
    padding: 12px 12px;
    transition: all .5s ease;
    border-top: 1px solid rgba(108, 117, 125, 0.1);
    border-right: 1px solid rgba(108, 117, 125, 0.1);
    border-bottom: 1px solid rgba(108, 117, 125, 0.1);
  }
}

hr{
  border: 1px solid rgba(255,255,255,.1);
}

.sidebar{
  header{
    display:flex;
    justify-content: space-around;
  }
}
.sidebar-logo{
  fill:var(--sidebar-font-color);
  height:180px;
  padding: 50px 30px;
  justify-content: center;
}